<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<% include("../layouts/header.ejs") %>

<div class="container mt-5">
  <h1>Welcome, <%= admin.name %></h1>
  
  <a href="/admin/dashboard" class="btn btn-primary">Dashboard</a>
  
  <div class="row mt-5">
    <div class="col-md-4">
      <img src="/userImages/<%= admin.image %>" class="img-fluid" alt="<%= admin.image %>">
    </div>
    <div class="col-md-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Email</td>
            <td><%= admin.email %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td><%= admin.mobile %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a href="/admin/logout" class="btn btn-danger">Logout</a>
  
</div>

<% include("../layouts/footer.ejs") %>
