<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<% include('../layouts/header.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="userImages/<%= user.image %>" class="img-fluid" alt="<%= user.image %>">
    </div>
    <div class="col-md-8">
      <h2>Update Profile</h2>

      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" class="form-control-file" name="image">
        </div>
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <div class="form-group">
          <input type="text" class="form-control" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="mno" value="<%= user.mobile %>" placeholder="Enter Mobile" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
    </div>
  </div>
</div>

<% include('../layouts/footer.ejs') %>
